html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Header style: */

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-size: 20px;
  background-color: #f9f9f9;
}

.logo-container {
  display: flex;
  align-items: center;
}

.language-container {
  display: flex;
  align-items: center;
}

.language-container a {
  margin-left: 10px;
}

/* Main div style: */

main {
  flex-grow: 1;
}

#main-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jump-in {
  opacity: 0;
  transform: translateY(50px);
  animation: jumpIn 1s ease-in-out forwards;
}

@keyframes jumpIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

article {
  font-size: 40px;
  margin: 50px;
}

article h1 {
  padding-bottom: 1vh;
}

#home {
  text-align: center;
  font-size: 40px;
}

#home .homepage-title {
  padding: 1vh;
}

#home .homepage-description {
  padding: 1vh;
}

/* Footer style: */

footer {
  text-align: center;
  background-color: #f9f9f9;
  }
  
  footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  box-sizing: border-box;
  margin: 0 40px 0 40px;
  }
  
  footer .social-links {
  display: flex;
  align-items: center;
  }
  
footer .social-links p {
    margin-right: 20px;
    margin-left: 20px ;
  }

  footer .social-links a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 10px;
  }
  
  footer .social-links a:hover {
  color: #008970;
  }
  
  footer .made-by {
  color: #191919;
  margin: 0;
  padding-top: 5px;
  }

  @media (max-width: 767px) {
    footer .wrapper {
      flex-direction: column;
    }
    footer .social-links {
      margin-bottom: 10px;
    }
    article {
      margin: 10%;
    }
  }
  
/* TEST */

.hamburger {
  background-color: transparent;
  border: none;
  color: #000000;
  font-size: 30px;
  cursor: pointer;
}

nav {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  background-color: #1c1c1c;
  overflow-x: hidden;
  transition: left 0.4s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-align: center;
  display: block;
  color: #b8b8b8;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  margin: 0 5%;
}

nav ul li a:hover {
  color: #fafafa;
  background-color: #313131;
  border-radius: 5px;
} 

/* dropdown button */

/* Add the following CSS rules to your existing CSS file */

.submenu {
  display: none;
  list-style-type: none;
  padding: 0;
}

.submenu li a {
  padding: 10px 20px;
  font-size: 16px;
  color: #868686;
}

.menu-item .submenu {
  display: none;
}

.daily {
  list-style: none;
}

article h3 {
  padding-top: 2%;
}

article h4 {
  padding-top: 1%;
}

article a {
  text-decoration: none;
  color: #008970;
}